:host {
  display: block;
  width: 100%;
}

.advices {
  padding: 16px;

  .advices__title {
    font-size: 1.3rem;
    margin-bottom: 6px;
  }

  .advices__subtitle {
    font-size: 1rem;
  }

}

@media(min-width: 768px) {
  .advices {
    padding: 24px;

    .advices__title {
      font-size: 1.3rem;
    }

    .advices__subtitle {
      font-size: 1rem;
    }
  }
}


@media(min-width: 1200px) {
  .advices {
    padding: 48px;
    max-width: 1200px;
    margin: 0 auto;

    .advices__title {
      font-size: 1.75rem;
    }

    .advices__subtitle {
      font-size: 1.15rem;
    }
  }
}
