<section class="advices">
  <h2 class="title">Tips para reducir tu huella de carbono</h2>
  <p class="subtitle">
    Pequeños cambios, grandes impactos: cada acción puede marcar la diferencia
    en la lucha contra el cambio climático
  </p>

  <section class="grid">
    <article class="article-1">
      <app-did-you-know-card
        text="Caminar 1 km en vez de conducir puede evitar la emisión de hasta 150g de CO2. ¡Tus pies también son ecológicos y benefician tu salud!"
        image="/assets/icons/foot.svg"
        [showTitle]="false"
      ></app-did-you-know-card>
    </article>

    <article class="article-2 bg-secondary">
      <div class="content">
        <div class="texts">
          <h3 class="title">Reduce, reutiliza, recicla</h3>
          <p class="text">
            Adopta un enfoque responsable en tus compras: opta por productos
            esenciales y evita el consumismo innecesario. Reutiliza objetos en
            lugar de desecharlos, y participa en el reciclaje para reducir la
            cantidad de residuos que generas. Pequeños cambios en tu día a día pueden hacer una gran diferencia en la salud de nuestro planeta.
          </p>
        </div>
        <!-- <div class="img-container">
          <img src="/assets/icons/recycle.svg" alt="icono de reciclar" />
        </div> -->
   
      </div>
    </article>
    <article class="card article-3"></article>
    <article class="card article-4"></article>
    <article class="card article-5"></article>
  </section>
</section>
