:host {
  display: block;
}

.flights-form {
  display: flex;
  flex-direction: column;

  form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 34px;
    margin-top: 24px;

    .form__first-class{
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .form__bottom{
      display: flex;
      flex-direction: column;
      gap: 12px;

      .bottom__result{
        display: flex;
        gap: 6px;

        .result__title,
        .result__text{
          font-size: 20px;
          color: var(--primary);
          font-weight: 700;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .flights-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    form {
      margin: 32px 0;

      .form__bottom{
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
