:root{
    --primary: #2c6e49;
    --secondary: #c7ea46;

    --background: #f6f4ed;
    --bg-light: #f3faf5;

    --green-light: #a9d49b;
    --dark-green: #266943;
    --loght-yellow: #D0F154;
    --white: #ffffff;
    --black: #000000;

    --dark-text: #212121;
    --medium-text: #6b7280;
    --light-text: #f6f4ed;
    --lines: #ece8da;
}
